body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/006/656/786/large_2x/blur-background-at-wooden-style-restaurant-and-cafe-with-people-free-photo.jpg");
    font-family: 'Times New Roman';
    font-size: 110%;
    background-repeat: no-repeat;
    background-size: cover;
}
 
.container {
    width: 350px;
    height: 700px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px;
}
 
h1 {
    margin-top: -25%;
    position: absolute;
    left: 50%;
    top: 0;
    width: 300%;
    transform: translateX(-50%);
    background-color: #840101;
    color: rgb(255, 255, 255);
    font-weight: 100;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}
 
.wrapper {
    padding: 20px;
}
 
input,
select {
    width: 80%;
    border: none;
    border-bottom: 1px solid #d90000;
    padding: 10px;
}
 
input:focus,
select:focus {
    border: 1px solid #ff0000;
    outline: none;
}
 
select {
    width: 88% !important;
}
 
button {
    margin: 20px auto;
    width: 150px;
    height: 50px;
    background-color: #a40000;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-family: 'Times New Roman';
    font-size: 110%;

}
 
.tip {
    text-align: center;
    font-size: 18px;
    display: none;
}